@font-face {
    font-family: iCiel;
    src: url("./fonts/iCiel-Medium.ttf");
}
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iCiel;

}
body 
{
    overflow-x: hidden;
}